@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Fira+Sans&family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-gray: hsl(252, 15%, 65%);
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --search-padding: 0.6rem 1rem;
    --border-radius: 2rem;
    --btn-padding: 0.6rem 2rem;
    --card-border-radius: 1rem;
    --card-padding: 1rem;

    --transition: all 300ms ease;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    /* border: none; */
    /* border: 2px solid red; */
    
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

/* GENERAL STYLE */

.container{
    width: 80%;
    margin: 0 auto;
}

.search-bar input[type="search"]{
    border: none;
    width: 90%;
}


.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

img{
    display: block;
    width: 100%;
}

.btn{
    padding: 0.6rem 2rem;
    /* display: inline-block; */
    border-radius: var(--border-radius);
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--color-primary);
    color: white;
}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}


/* =================== NAVBAR ==================== */

nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 5;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

nav .search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

nav .search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

nav .profile{
    display: flex;
    align-items: center;
    gap: 2rem;
}

